body
{
	margin: 0;
	padding: 0;
	background-image: url("../images/omen-face.jpg"); 
	background-size:  cover;
	font-family: "Roboto",sans-serif;

}
h2
{
	text-align: center;
	color: white;
	margin: 0px;
	padding: 0 0 20px;
}


.user
{
width: 100px ;
height:  100px ;
overflow: hidden;
position: absolute;
top: -50px;
left: 95px;
border-radius: 50%;


}
.omen
{
	font-size: 14px;
	font-weight: bold;
	height: 400px;
	width: 300px;
	transform: translate(-50%, -50%);
	padding: 80px 40px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute; 
	top: 50%;
	left: 50%;
	

}
.omen p

{
	margin: 0;
	padding: 0 0 10px ;
	font-weight: bold;
	color: white;
	font-size: 14px;
	font-family: sofia , sans-serif ;
}
.omen input
{
	width: 238px;
	margin-bottom: 32px;
	left: -50px;
	float: left;
} 
.omen input[type="text"],.omen input[type="password"]
{
	border:  none;
	outline:  none;
	background: transparent;
	color: white;
	font-size: 13px;
	border-bottom: 1px solid;

}
.omen input[type="submit"]
{
	cursor: pointer;
	border: none;
	outline: none;
	color: pink;
	height: 40px;
	color: white;
	background-color: #ff267e;
	border-radius: 25%;
	font-size: 17px;
}
.omen input[type="submit"]:hover 
{
	background: #efed40;
	color: #262626;
	transition: 1s;
	font-size: 20px;

}